{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}{% translate "Pap Stats" %}{% endblock %}

{% block header_nav_brand %}
    {% translate "Pap Stats" %}
{% endblock header_nav_brand %}

{% block header_nav_collapse_left %}
    {% include "papstats/partials/top_menu.html" %}
{% endblock %}

{% block header_nav_collapse_right %}
{% endblock header_nav_collapse_right %}

{% block content %}
    <div class="papstats-body">
        {% block papstats %}{% endblock %}
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'papstats/css/papstats.css' %}" type="text/css" media="screen">
{% endblock extra_css %}


{% block extra_javascript %}
    {% include "altcorp/bundles/htmx.html" %}
{% endblock extra_javascript %}
